use flake /etc/nixos/modules/devshells#flask
# use flake /etc/nixos/modules/devshells#flutter
use flake /etc/nixos/modules/devshells#bun
use flake /etc/nixos/modules/devshells#nodejs_22

layout python
export PYTHONPATH=$PWD
